@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent-color: #4f30b4;
	--black-color: #0000008b;
	--grey-color: #ccc;
	--grey-light-color: #e4e4e4;
	--red-color: #de3333;
	--white-color: #fff;
}

body {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	height: 100vh;
}

@layer utilities {
	.animation {
		outline: transparent;
		padding: 3px;
		border-radius: 4px;
		transition:
			color 0.3s,
			opacity 0.3s,
			text-decoration-color 0.3s,
			box-shadow 0.3s,
			transform 0.3s,
			background-color 0.3s;

		&:focus {
			box-shadow: 0 0 0 2px var(--accent-color);
			border-radius: 4px;
		}

		&:active {
			opacity: 0.7;
			box-shadow: 0 0 0 2px var(--accent-color);
		}

		&:hover {
			color: var(--accent-color);
		}
	}
}

.hero {
	background-image: url('../../public/hero-image.jpg');
}
